
<div class="jumbotron card card-image" style="background-position: center center; background-repeat: no-repeat; height: 100vh; background-image: url('{{section.settings.Headmaster |img_url: '1100x' }}' );   background-size: 100% 100%;">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class=" title  card-title h1-responsive pt-3  font-bold " style="color: black; font-size: 3rem;">{{section.settings.title}}</h2>
     
      
    </div>
  </div>
</div>

{% schema %}
{   
  "name": "Headmaster",
  "settings": [
    {
      "type": "image_picker",
      "id": "Headmaster",
      "label": "Headmaster"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "title",
      "default":   "BENITO",
      
      "placeholder": "title"
}
  ],
 "presets": [  
    {
      "name": "hero-benito",
      "category": "hero"
    }
  ]
}
{% endschema %}

{% stylesheet %}

.container-fluid {
   padding: 0px;
}



}

.main-content {
 padding: -35px; 
 
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}