




{% schema %}
   {
    "name": "texttttt",
    "settings": [
				{
   "type": "richtext",
   "id": "column_richtext",
   "label": "Text",
   "default": "<p>Default <em>richtext</em> <a href=\"https://example.com/\">content</a></p>"
}
]
  }
{% endschema %}

